node_red/flows(1).json
[{"id":"c42665c1.55608","type":"http in","z":"86d42d72.489b7","name":"","url":"/cback","method":"post","upload":false,"swaggerDoc":"","x":86,"y":181,"wires":[["217112b3.8ed77e","418ad3e7.079e84","1d831f1d.c65121","6694dc54.601b0c","535f57f6.abbbc8","732124b0.8e83ac","508645a9.95809c"]]},{"id":"1d831f1d.c65121","type":"http response","z":"86d42d72.489b7","name":"resposta","statusCode":"","headers":{},"x":315,"y":99,"wires":[]},{"id":"3652f41c.2297cc","type":"debug","z":"86d42d72.489b7","name":"mensagem","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":642,"y":181,"wires":[]},{"id":"217112b3.8ed77e","type":"function","z":"86d42d72.489b7","name":"vaga","func":"msg.payload =  msg.payload.data[0];\n\nreturn msg;","outputs":1,"noerr":0,"x":295,"y":265,"wires":[["f523c95d.4e6c1"]]},{"id":"418ad3e7.079e84","type":"function","z":"86d42d72.489b7","name":"device","func":"msg.payload =  msg.payload.device;\n\nreturn msg;","outputs":1,"noerr":0,"x":295,"y":225,"wires":[["8b4867f8.8027"]]},{"id":"732124b0.8e83ac","type":"function","z":"86d42d72.489b7","name":"insert","func":"var t1 = msg.payload.data[0];\nvar t2 = msg.payload.data[1];\nvar t3 = msg.payload.time;\n\nvar teste = { \"topic\" : \"INSERT INTO evento (tipo, vaga_id, data) VALUES (\" + t1 + \", \" + t2 + \",\" + t3 + \");\"}\nreturn teste;","outputs":1,"noerr":0,"x":300.5,"y":182,"wires":[["c56056c0.ef2628"]]},{"id":"6694dc54.601b0c","type":"debug","z":"86d42d72.489b7","name":"mensagem","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":322,"y":139,"wires":[]},{"id":"c56056c0.ef2628","type":"sqlite","z":"86d42d72.489b7","mydb":"38687f26.f3fcf8","sqlquery":"msg.topic","sql":"","name":"teste","x":464,"y":182,"wires":[["3652f41c.2297cc"]]},{"id":"6467754f.0ad7e4","type":"ui_text","z":"86d42d72.489b7","group":"6f34a544.cd3334","order":1,"width":0,"height":0,"name":"","label":"Status:","format":"{{msg.payload}}","layout":"row-spread","x":641.0000495910645,"y":304.00001335144043,"wires":[]},{"id":"535f57f6.abbbc8","type":"function","z":"86d42d72.489b7","name":"status","func":"msg.payload =  msg.payload.data[1];\n\nreturn msg;","outputs":1,"noerr":0,"x":295,"y":305,"wires":[["6467754f.0ad7e4"]]},{"id":"f523c95d.4e6c1","type":"ui_text","z":"86d42d72.489b7","group":"6f34a544.cd3334","order":0,"width":0,"height":0,"name":"","label":"Identificação","format":"{{msg.payload}}","layout":"row-spread","x":665.5,"y":267,"wires":[]},{"id":"8b4867f8.8027","type":"ui_text","z":"86d42d72.489b7","group":"9e714145.06e78","order":2,"width":0,"height":0,"name":"","label":"Dispositivo:","format":"{{msg.payload}}","layout":"row-spread","x":663,"y":224,"wires":[]},{"id":"508645a9.95809c","type":"function","z":"86d42d72.489b7","name":"create JSON","func":"var data = {\"id\":msg.payload.data[0].trim(),\"estado\":msg.payload.data[1]};\nnode.log(typeof data);\nmsg.payload = JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":315.000057220459,"y":349.9999895095825,"wires":[["39170213.d1e46e"]]},{"id":"181d6e50.660132","type":"http request","z":"86d42d72.489b7","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:5000/evento","tls":"","proxy":"","authType":"","x":597.0000991821289,"y":350.00000953674316,"wires":[["1924b806.fa5378"]]},{"id":"1924b806.fa5378","type":"http response","z":"86d42d72.489b7","name":"","statusCode":"","headers":{},"x":732.6942749023438,"y":350.0520935058594,"wires":[]},{"id":"39170213.d1e46e","type":"json","z":"86d42d72.489b7","name":"","property":"payload","action":"","pretty":false,"x":456.57643127441406,"y":350.52777194976807,"wires":[["181d6e50.660132"]]},{"id":"38687f26.f3fcf8","type":"sqlitedb","z":"","db":"/home/ubuntu/PJ_III/backend/aplicativo/entidades/db/pji3.db","mode":"RWC"},{"id":"6f34a544.cd3334","type":"ui_group","z":"86d42d72.489b7","name":"Informações da Vaga","tab":"2ff1c0b9.711548","order":2,"disp":true,"width":"6","collapse":false},{"id":"9e714145.06e78","type":"ui_group","z":"","name":"Dispositivo","tab":"2ff1c0b9.711548","disp":true,"width":"6","collapse":false},{"id":"2ff1c0b9.711548","type":"ui_tab","z":"","name":"Simova","icon":"dashboard","disabled":false,"hidden":false}]